{deps, [
        {cowboy,  ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
        {ranch,   ".*", {git, "git://github.com/extend/ranch.git", "master"}},
        {websocket_client, ".*", {git, "git@github.com:jeremyong/websocket_client.git", "master"}},        
        {eredis, ".*", {git, "git@github.com:wooga/eredis.git", "master"}}
]}.
